<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/defaultLogin.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <title>Title</title>
</head>
<body bgcolor="#111">
    <div class="col-2 col-m-1 col-t-1"></div>
    <div class="row">

        <div class="col-8 col-m-10 col-t-10" style="text-align: center; margin-top: 10%">

            <img src='img/access_denied.gif'>
            <div class="col-4 col-m-3 col-t-4"></div>
            <div class="col-4 col-m-6 col-t-4">
            <form action="login" >
                <button type="submit" class="ui-button">login</button>
            </form>
            </div>
            <div class="col-4 col-m-3 col-t-4">
        </div>

    </div>
    <div class="col-2 col-m-1 col-t-1"></div>

</body>
</html>
