#first-div-element {
    background-color: red;
}
#second-div-element {
    background-color: green;
}
#third-div-element {
    background-color: blue;
}
#forth-div-element {
    background-color: yellow;
}